html {
    height: 100%;
  }

/* ------------------- Home */

.landingsection {
    margin-top: 12vh;
}
body {
    background: url('/media/home-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    padding-top: 10%;
}

 h1 {
    letter-spacing: 8px;
  }

  h5 {
    letter-spacing: 3px;
  }

  .hr-light {
    border-top: 3px solid #fff;
    width: 80px;
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: black !important;
}

.main-logo-link {
    width: fit-content;
}

/* ------------------- Products */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}